spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://yourIP:3306/ticketing?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: yourname
    password: yourpassword

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

logging:
  level:
    org.hibernate.sql: debug